<html>

<head>
    <meta charset="utf-8">
    <title>HR's First Blog</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  
  <%- include('header'); %>

    <div class="edit_whole">
        <div class="edit_container">
            <div class="edit_image_holder">
                <h1>Edit Page</h1>
            

                <form class="edit_form" action="/update/<%=post.id%>" method="post">
                    <p>Title</p>
                    <input class="edit update_title" name='titleName' value='<%=post.title%>' type="text">
                

                    <p>Preview</p>
                    <input class="edit update_preview"  name='previewName' value='<%=post.preview%>' type="text">
                   

                    <p>Content</p>
                    <input class="update_content"  name='contentName' value='<%=post.content%>' type="text">

                    <br>
                    <input class="edit_submit" type='submit' value="update">
                </form>
        
            <div>
        </div>
    </div>


</body>

</html>